server:
    port: ${SERVER_PORT}

spring:
    config:
        import: optional:file:.env[.properties]
   
    application:
        name: productservice

    datasource:
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver

    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true
        validate-on-migrate: false
    
    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        open-in-view: false

    kafka:
        bootstrap-servers: ${KAFKA_SERVER}
        consumer:
            auto-offset-reset: earliest
            group-id: product-service
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
            properties:
                spring:
                    json:
                        trusted:
                            packages: "com.vbgames.backend.common.events"
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

api:
    gateway-url: ${URL_APIGATEWAY}