server:
    port: ${SERVER_PORT}

spring:
    application:
        name: userservice

    datasource:
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver

    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true
        validate-on-migrate: false

    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        open-in-view: false
    
    kafka: 
        bootstrap-servers: ${KAFKA_SERVER}
        consumer:
            auto-offset-reset: earliest
            group-id: user-service
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
            properties:
                spring:
                    json:
                        value:
                            default:
                                type: com.vbgames.backend.common.events.GameEvent
                        trusted:
                            packages: "*"
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

jwt:
    access:
        private: ${JWT_ACCESS_PRIVATE}
        public: ${JWT_ACCESS_PUBLIC}
    refresh:
        private: ${JWT_REFRESH_PRIVATE}
        public: ${JWT_REFRESH_PUBLIC}