server:
    port: ${SERVER_PORT}

spring:
    config:
        import: optional:file:.env[.properties]
        
    application:
        name: authservice

    datasource:
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver

    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true
        validate-on-migrate: false

    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        open-in-view: false
    
    kafka: 
        bootstrap-servers: ${KAFKA_SERVER}
        consumer:
            auto-offset-reset: earliest
            group-id: user-service
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
            properties:
                spring:
                    json:
                        trusted:
                            packages: "com.vbgames.backend.common.events"
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    mail:
        host: smtp.sendgrid.net
        port: 587
        username: apikey
        password: ${MAIL_APIKEY}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true

mail:
    from: ${SENDER_EMAIL}
    
jwt:
    access:
        private: ${JWT_ACCESS_PRIVATE}
    refresh:
        secret: ${JWT_REFRESH_SECRET}
    verify-email:
        secret: ${JWT_VERIFY_EMAIL_SECRET}

springdoc:
    swagger-ui:
        path: /swagger-ui.html 
    api-docs:
        path: /v3/api-docs

api:
    gateway-url: ${URL_APIGATEWAY}

logging:
  level:
    org:
        hibernate:
            SQL: DEBUG
            type:
                descriptor:
                    sql:
                        BasicBinder: TRACE